<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Registro ATISAVI</title>
		<link rel="stylesheet" th:href="@{/css/ISesion.css}" />
	</head>

	<body>
        <h1>ATISAVI</h1>

        

        <div id="navegador">
            <ul>
             <li><a th:href="@{/}">Volver</a></li>
         
            </ul>
            </div>

        <hr>

    </div>

    <form action="#" method="post">
      <h2> Iniciar Sesión</h2> 
    
      
           
        <label>Tipo de usuario:</label>
        <select name="usuario" id="ocup">
          <option value="v1">Paciente</option> 
          <option value="v2" >Doctor</option>
        </select>
     
        <label >Ingrese usuario:</label>
        <textarea id="user" name="log"></textarea>      

        <label >Ingrese contraseña:</label>
        <textarea id="pass" name="pass"></textarea>  
        
     

      <button type="submit">Acceder</button>

      
      
     </form>



        

       

      
       

	</body>

	<script src="./js/atisavi.js"></script>

</html>
       

      
        
       

