<!DOCTYPE html>
<html>
	<head>
		<title>ATISAVI</title>
        <link rel="stylesheet" href="../css/producto.css" />
        
        <meta name="viewport" content="width=device-width,initial-scale=1,minimal-ui,user-scalable=yes">
	</head>

	<body>
        <h1>ATISAVI</h1>

        
        <div id=nav>

        <ul >
            <li >	<a href="PantallaPrincipal.html"    title="Inicio">
                Inicio</a>
        </li>
            <li >	<a href="Producto.html"    title="Producto">
                Producto</a>
        </li>
            <li >	<a href="QS.html"    title="Quienes somos">
                Quiénes somos</a>
        </li>
            <li >	<a href="Contacto.html"    title="Contactanos">
                Contáctanos</a>
        </li>
        <li >	<a href="InSesion.html"    title="InSesion">
            Iniciar Sesión</a>
        </li>
    </div>
        
                
                    </ul>

        <hr>

        <p>Curando vidas a tiempo</p>

        <img src="../imagenes/soft1.jpg" >
        
       

	</body>

	<script src="./js/atisavi.js"></script>

</html>