<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Quienes somos</title>
	<link rel="stylesheet" th:href="@{/css/QS.css}" />
</head>

<body>
	<h1>ATISAVI</h1>



	<div id="navegador">
		<ul>
			<li><a th:href="@{/}">Volver</a></li>
	</div>

	<hr>

	<p id=p1>Descripción de quienes somos</p>


	<h2>Misión</h2>

	<p>
		<img th:src="@{/imagenes/soft2.jpg}" class="izquierda">AQUI VA
		NUESTRA MISION
	</p>

	<h2>
		<img th:src="@{/imagenes/soft3.jpg}" class="derecha">Visión
	</h2>

	<p>AQUI VA NUESTRA VISION</p>

</body>

<script src="./js/atisavi.js"></script>

</html>