<html>
	<head>
		<title>Quienes somos</title>
		<link rel="stylesheet" href="../static/css/QS.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0"&amp;gt;>
	</head>

	<body>
        <h1>ATISAVI</h1>

        

		<div id=nav>

			<ul >
				<li >	<a href="PantallaPrincipal.html"    title="Inicio">
					Inicio</a>
			</li>
				<li >	<a href="#"    title="Producto">
					Producto</a>
			</li>
				<li >	<a href="QS.html"    title="Quienes somos">
					Quiénes somos</a>
			</li>
				<li >	<a href="#"    title="Contactanos">
					Contáctanos</a>
			</li>
			<li >	<a href="InSesion.html"    title="InSesion">
				Iniciar Sesión</a>
			</li>
		</div>

		<hr>

		<div id="contenido">
		
		<p id=p1>Descripción de quienes somos</p>	

		
		<h2>Misión</h2>

		<p><img src="../static/imagenes/soft2.jpg"  class="izquierda">AQUI VA NUESTRA MISION</p>

		<h2><img src="../static/imagenes/soft3.jpg"  class="derecha">Visión</h2>

		<p>AQUI VA NUESTRA VISION</p>		

	</div>



    

        
        
       

	</body>

	<script src="./js/atisavi.js"></script>

</html>