
	<head>
		<title>Registro ATISAVI</title>
    <link rel="stylesheet" href="../css/Registro.css" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimal-ui,user-scalable=yes">
	</head>

	<body>
        <h1>ATISAVI</h1>

        

        <div id="navegador">
            <ul>
            <li><a href="PantallaPrincipal.html">Volver</a></li>
         
            </ul>
            </div>

        <hr>

    </div>

    <form action="#" method="post">
      <h2> Registrarse</h2>
      
        <label >Nombre y apellido:</label>
        <textarea id="user" name="log"></textarea>      

        <label >Correo electrónico:</label>
        <textarea id="corr" name="correo"></textarea>  

        <label >DNI:</label>
        <textarea id="dni" name="dni"></textarea>  

        <label >Contraseña:</label>
        <textarea id="pass" name="pass"></textarea>  

      <button type="submit">Registrarse</button>
      
     </form>



    

	</body>

	<script src="./js/atisavi.js"></script>

</html>