
<html>
	<head>
		<title>ATISAVI</title>
		<link rel="stylesheet" href="../css/atisavi.css" />
	</head>

	<body>
        <h1>ATISAVI</h1>

        

        <div id="navegador">
            <ul>
            <li><a href="QS.html">Quiénes somos</a></li>
            <li><a href="Ayuda.html">Ayuda</a></li>
            <li><a href="InSesion.html">Iniciar sesión</a></li>
            <li><a href="Registro.html">Registrate</a></li>
            </ul>
            </div>

        <hr>

        <p>Curando vidas a tiempo</p>

        <img src="../imagenes/soft1.jpg" >
        
       

	</body>

	<script src="./js/atisavi.js"></script>

</html>